/*Reset estilo iniciais */

body{
  margin:0px;
  font-family: Arial, Helvetica, sans-serif;

}
ul{
  margin:0px;
  padding:0px;
  list-style: none;
}
a{
  text-decoration: none;
}
/* Menu inicial*/
.header-bg{
  background-color: #000000;

}
.header{
  display:flex;
  flex-wrap: wrap; /* quando o espaço entre os elementos muito pequeno irá quebra para linha debaixo. */
  gap:20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; /* não irá somar o valor do padding para definir o max-width */
  padding: 20px;
  max-width:1200px; /*deixar o container responsivo */
  margin-left: auto;
  margin-right: auto;
}

.header-menu{
  display: flex; /* deixar os elementos um do lado do outro. */
  flex-wrap: wrap;
  gap:40px; /* espaço entre os elementos. */
}
.header-menu a{
  color:#ffffff;
  display: inline-block; /* quando os elementos ficarem um abaixo o valor de padding não irá ficar correto pois a por padrão é um elemento line */
  padding: 16px 0px; /* aumentar a area de contato dos elementos. */
  font-size: 18px;
  position: relative;
 
}
.header-menu a:after{
  content: "";
  display:block;
  height: 2px;
  width: 0px;
  background: #ffffff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.header-menu a:hover:after{
  width: 100%;
}
@media (max-width:800px){
  .header-menu{
    gap:20px;
  }
  .header-menu a{
    background:#111111;
    padding: 12px 16px;
    border-radius: 4px;

  }
  .header-menu a:hover{
    background-color: #2e2e2e;
  }
  .header a:after{
    display: none;
  }
}

@media (max-width:600px){
  .header-menu {
    gap:12px;
  }
  .header-menu a{
    padding: 8px 12px;
    font-size: 14px;

  }
}
